---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';

import { SITE } from '../config';

let { title } = SITE;
let description =
  'Reducing HIV vulnerability through peer education, raising of awareness, prevention and treatment in Limpopo and Mpumalanga, South Africa.';
let permalink = 'https://www.hlokomela.org.za/';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="flex flex-col justify-center">
        <section class="flex flex-col md:flex-row m-10" aria-label="Contact">
          <div class="flex flex-col m-10">
            <h2 class="flex flex-col md:flex-row text-center">MAIN OFFICE</h2>
            <strong class="m-4">Address:</strong>
            <p>Richgate farm,</p>
            <p>Unifrutti, Hoedspruit,</p>
            <p>1380</p>
            <strong class="m-4">Telephone:</strong>
            <p>082 560 0248</p>
            <strong class="m-4">Hours:</strong>
            <p>Mon-Fri 07:30 – 16:00</p>
          </div>
          <div aria-label="Form">
            <h2 class="flex flex-col md:flex-row text-center">
              GENERAL INQUIRIES
            </h2>
            <form
              action="https://form.taxi/s/euhle2th"
              method="POST"
              class="flex flex-col m-5"
            >
              <label>Name:</label>
              <input class="p-2 m-1" type="text" name="Name" />
              <label>Email:</label>
              <input class="p-2 m-1" type="email" name="Email" />
              <label>Message:</label>
              <textarea class="m-1" name="Message"></textarea>
              <input
                class="cursor-pointer pt-1 pl-4 pr-4 m-2 bg-[#d81e2a] text-white uppercase"
                type="submit"
                value="Send"
              />
            </form>
          </div>
        </section>
        <section aria-label="Map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3633.3553198802683!2d30.786878676345726!3d-24.403720493080645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec306b677284535%3A0x9c41296732e96b2d!2sHoedspruit%20Training%20Trust!5e0!3m2!1sen!2snl!4v1683780371879!5m2!1sen!2snl"
            class="h-80 w-96"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
