---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';

import { SITE } from '../config';

let { title } = SITE;
let description =
  'Reducing HIV vulnerability through peer education, raising of awareness, prevention and treatment in Limpopo and Mpumalanga, South Africa.';
let permalink = 'https://www.hlokomela.org.za/';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="flex flex-col justify-center">
        <section class="flex flex-col md:flex-row m-10" aria-label="Contact">
          <div class="flex flex-col m-10 h-full">
            <h2 class="flex flex-col md:flex-row text-center">Thank you!</h2>
            <p>Your form has been submitted.</p>
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
