---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="mt-5 mb-5 justify-center">
  <article class="flex md:justify-start justify-center">
    <a href={post.url}
      ><a href={post.frontmatter.link}
        ><p class="text-xl">
          • {post.frontmatter.title}
        </p></a
      >
    </a>
  </article>
</article>
