---
import FileIcon from '../images/icons/file.astro';
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview mt-5 mb-5 flex">
  <FileIcon /><a href={post.url}
    ><p class="text-xl">{post.frontmatter.title}</p></a
  >
</article>

<style></style>
