---
import FileIcon from "../images/icons/file.astro";
export interface Props {
  post: any;
}

const { post } = Astro.props;
console.log("post", post.frontmatter.pdfFile);
---

<article class="post-preview mt-5 mb-5 flex md:justify-start justify-center">
  <FileIcon /><a href={post.url}
    ><a href={post.frontmatter.pdfFile}
      ><p class="text-xl md:hover:text-[#5db1bd]">
        {post.frontmatter.title}
      </p></a
    >
  </a>
</article>
