<template>
  <div id="map"></div>
</template>

<script>
  import { useEffect } from '@astrojs/renderer-preact';
  import { load } from 'google-maps-api';

  export default function Map() {
    useEffect(async () => {
      const googleMaps = await load({
        key: 'import.meta.env.MAPS_API_KEY',
        libraries: ['places'],
      });

      const myLatLng = { lat: -24.4037254, lng: 30.7894536 };
      const map = new googleMaps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng,
      });

      new googleMaps.Marker({
        position: myLatLng,
        map,
        title: 'Hlokomela',
      });
    }, []);

    return {
      // TODO
    };
  }
</script>

<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>
